.container{
    background-color:cornflowerblue;
    
    
}
h1 {
    color: #0000FF;
    font-family:fantasy;
    padding: 2%;
    width: 100%;
    background-color: lightsteelblue;
    text-align: center;
}
body{
    margin: auto;
    padding: 1em;
}

.retrieve{
    background-color: yellow;
    border: black;
    border-style: solid;
    width: 125px;
    border-radius: 25px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    list-style-type: none;
    float: left;
    
}
button{
    display: inline-block;
   
}
.buttons{
    display: flex;
    margin-right: 5px;
    justify-content: center;
    align-content: center;

    
    

}
